includeConfig "$projectDir/params.config"

process.container = 'biocorecrg/c4lwg-2018:latest'
singularity.cacheDir = "$baseDir/singularity"



profiles {
  standard {
   	includeConfig 'conf/standard.config'
   }
  hpc_sge {
       includeConfig 'conf/sge.config'
  }
  hpc_slurm {
       includeConfig 'conf/slurm.config'
  } 
  cloud {
       includeConfig 'conf/awsbatch.config'
  }
         
}




