process { 
    executor="SGE"       
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
    queue = "smallcpus"
        
    memory='1G'
    cpus='1'
    time='6h'
        
    withLabel: 'twocpus' {
       queue = "bigcpus"
       memory='4G'
       cpus='2'
    }   

} 
