/*
* This configuration file is the default one used by the pipeline
*/

process {
    // custom container options in case you use docker for mapping the users and avoid docker writes files as root
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}

    // definition of the local executor. Run the pipeline in the current computer.
    executor="local"

    // resources for default execution
    memory='0.6G'
    cpus='1'
    time='6h'

       // resources for execution of processes / modules with the label "two cpus"
        withLabel: 'twocpus' {
            memory='0.6G'
            cpus='2'
        }
}
